<!DOCTYPE html>
<html lang="en">

<%- include('includes/head', { title: 'Vulnerability scan results for ' + site['@name'] + ' on ' + generated }); %>

<body>

  <main class="grid-container" id="#top">
    <div class="grid-row">
      <h1 class="font-heading-xl grid-col padding-right-2">Vulnerability scan results for <br /><span
          class="font-code-lg text-normal text-primary-darker bg-accent-cool-lighter padding-x-05r narrow-mono"><%= site['@name'] %></span>
      </h1>
      <span class="grid-col-auto inline-block margin-y-4">
      <a id="pages-logo" href="https://cloud.gov/pages" target="_blank"
        title="link to Pages homepage"><img src="https://cloud.gov/assets/images/pages/pages-logo-blue.svg"
          class="width-15" alt="Pages logo" /></a>
      </span>
    </div>
    <div class="grid-row border-top-1px padding-top-1">
      <section class="tablet:grid-col-auto">
        <nav class="sticky">
          <table class="width-full tablet:width-auto usa-table usa-table--compact usa-table--borderless summary-table">
            <caption class="usa-sr-only">
              Summary by risk level
            </caption>
            <thead>
              <tr class="height-5">
                <th scope="col" role="columnheader">
                  Risk level
                </th>
                <th class="text-right" scope="col" role="columnheader">
                  Count
                </th>
              </tr>
            </thead>
            <tbody>
              <% if (site.alerts.length && site.groupedAlerts) { %>
                <% utils.severity.forEach(({riskCode, name, color}) => { %>
                  <% if (site.groupedAlerts[riskCode] ) { %>
                      <tr class="height-5">
                        <th scope="col">
                      
                          <a href="#<%= name  %>-alerts"
                            title="Jump to <%= name  %> alerts"
                            class="usa-tag--big usa-tag text-uppercase usa-button radius-pill bg-<%= color %>"><%= name %>
                            <span class="usa-sr-only"> <%= utils.plural(site.groupedAlerts[riskCode].length, 'alert' ) %>,</span>
                          </a>
                        </th>
                        <td scope="col" class="font-mono-sm text-tabular text-right line-height-body-3">
                          <%= site.groupedAlerts[riskCode].length -%>
                        </td>
                      </tr>
                  <% } %>
                <% }) %>
              <% } %>
              <tr class="height-5">
                <th scope="col">
                  <b>Total findings</b>
                </th>
                <td scope="col" class="font-mono-sm text-tabular text-right line-height-body-3">
                  <b><%= site.alerts.length -%></b>
                </td>
              </tr>
            </tbody>
          </table>
          <p class="font-body-3xs line-height-body-3 maxw-card-lg">Scanned <%= utils.timestampReadable(generated) %> during Pages Build ID: <span class="font-mono-3xs">#<%= buildId %></span></p>
        </nav>
      </section>
      <div class="tablet:grid-col tablet:margin-left-4 ">
        <h2 class="font-heading-xl margin-bottom-1 margin-top-3">
          Findings summary
        </h2>

        <table
          class="usa-table usa-table--striped usa-table--borderless usa-table--stacked usa-table--compact font-body-xs width-full margin-bottom-8"
          aria-label="">
          <thead>
            <tr>
                  <th scope="col">Finding</th>
                  <th scope="col" class="text-no-wrap width-15 tablet:width-card-lg">Risk level</th>
                  <th scope="col" class="mobile-lg:text-right text-no-wrap width-10">Locations</th>
                </tr>
              </thead>
        
              <tbody>
                <% for(const [index, alert] of site.alerts.entries()) { -%>
                <tr>
                  <th scope="row">
                    <b class="usa-sr-only">Finding: <br/></b>
                    <a class="usa-link" href="#alert-<%= alert.alertRef %>"><%= alert.name %></a>
                  </th>
                
                  <td class="font-body-xs text-no-wrap">
                    <b class="usa-sr-only">Risk level: <br /></b>
                    <span class="usa-tag radius-pill bg-<%= utils.getSevByRiskCode(alert.riskcode).color %>">
                      <%= utils.getSevByRiskCode(alert.riskcode).name %>
                    </span>
                  </td>
                  <td class="text-right ">
                  <span class="usa-sr-only"><%= utils.plural(alert.instances.length, 'location' ) %>:</span>
                    <%= alert.instances.length %>
                  </td>
                </tr>
              <% } %>
            </tbody>
        </table>
        <h2 class="font-heading-xl margin-bottom-1 margin-top-3">
          All findings <span class="font-body-xl text-secondary-vivid">(<%= site.alerts.length -%>)</span>
        </h2>

        <% if (site.alerts.length && site.groupedAlerts) { %>
          <% utils.severity.forEach(({riskCode, name, color}) => { %>
            <% if (site.groupedAlerts[riskCode] && site.groupedAlerts[riskCode].length> 0 ) { %>
              <a id="<%= name %>-alerts"></a>
              <div class="margin-y-2 padding-bottom-2">
                <% site.groupedAlerts[riskCode].forEach( function(alert, alertIndex) { %>
                  <% if (!!alert?.alertRef) { %>
                  <div id="alert-<%= alert.alertRef %>">
                    <div class="bg-white padding-top-05 sticky">
                      <h3 class="font-heading-lg margin-y-105">
                        <%= alert.name %>
                        <span
                          class="usa-tag bg-<%= color -%> radius-pill text-middle"><%= alert.riskLabel -%></span>
                      </h3>
                      <p class="font-body-md padding-bottom-2 border-bottom-1px">
                        Identified in <b> <%= alert.count %>
                        <%= utils.plural(alert.count, 'location' ) %></b>.
                      </p>
                    </div>
                    <div class="usa-prose font-serif-xs line-height-serif-6 margin-y-3">
                      <%- alert.description %>
                      <% if (alert.referenceURLs && alert.referenceURLs.length > 0 ) { %>
                        <h4>References</h4>
                        <ul>
                        <% alert.referenceURLs.forEach(url => { %>
                          <li class="font-body-2xs"><a class="usa-link" href="<%= url %>"><%= url %></a></li>
                        <% }) %>
                        </ul>
                      <% } %>
                    </div>
                    <div class="usa-summary-box maxw-tablet margin-y-4" role="region"
                      aria-labelledby="alert-<%= alert.alertRef %>-solution">
                      <h4 class="usa-summary-box__heading" id="alert-<%= alert.alertRef %>-solution">
                        Recommendation(s)
                      </h4>
                      <div class="usa-summary-box__body margin-bottom-neg-2">
                        <%- alert.solution -%>
                      </div>
                    </div>
                    <h3 class="font-body-lg margin-y-2">
                      Location(s) to investigate:
                    </h3>
                    <ol class="margin-top-4">
                      <% for (const [instanceIndex, instance] of alert.instances.entries()) { %>
                      <li class="margin-bottom-4 margin-left-2 font-mono-md">
                        <a id="alert-<%= alert.alertRef %>-instance-<%= (instanceIndex + 1) %>"></a>
                          <h4 class="font-body-md margin-bottom-0">
                            <% if (instance.uri) { %>
                            On <a href="<%- instance.uri %>" class="usa-link" target="_blank"><%- instance.uri %>
                            <svg class="usa-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                              <path fill="currentColor"
                                d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z" />
                            </svg></a>
                            <% } else { 'Finding' }%>
                          </h4>
                        <% if (instance.param) { %>
                          <h5 class="margin-bottom-0 font-body-sm">Parameter:</h5>
                          <p><code
                              class="css text-normal narrow-mono font-mono-xs line-height-mono-4 bg-accent-warm-lighter padding-05 break-anywhere"><%= instance.param %></code>
                          </p>
                        <% }%>
                        <% if (instance.evidence) { %>
                          <h5 class="margin-bottom-0 font-body-sm">Location:</h5>
                          <pre><code class="html text-wrap maxw-tablet font-mono-xs line-height-mono-4 narrow-mono"><%= instance.evidence %></code></pre>
                        <% }%>
                        <% if (instance.otherInfo) { %>
                          <p class="font-body-sm padding-bottom-2 border-bottom-1px">Additional info: <%- instance.otherInfo %></p>
                        <% }%>

                      
                      </li>
                      <% } %>
                    </ol>
                  </div>
                  <% } %>
                <% }) %>
              </div>
            <% } %>
          <% }) %>
        <% } else { %>
          <section class="usa-alert usa-alert--success maxw-tablet margin-y-3">
            <div class="usa-alert__body">
              <p class="usa-alert__text">No vulnerabilities found.</p>
            </div>
          </section>
        <% } %>
        <hr />
        <%- include('includes/about') %>
      </div>
    </div>
  
    <div class="grid-row">
      <div class="grid-col">
        <span
          class="display-block back-to-top margin-bottom-2"><a href="#top" class="usa-link">&uparrow; Back to top</a></span>
      </div>
    </div>
    
  </main>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/uswds/3.7.1/js/uswds.min.js" crossorigin="anonymous"
    referrerpolicy="no-referrer" defer></script> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css"
    integrity="sha512-hasIneQUHlh06VNBe7f6ZcHmeRTLIaQWFd43YriJ0UND19bvYRauxthDg8E4eVNPm9bRUhr5JGeqH7FRFXQu5g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"
    integrity="sha512-D9gUyxqja7hBtkWpPWGt9wfbfaMGVt9gnyCvYa+jojwwPHLCzUm5i8rpk7vD7wNee9bA35eYIjobYPaQuKS1MQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script>hljs.highlightAll();</script>
</body>

</html>