<!DOCTYPE html>
<html lang="en">

<%- include('includes/head', { title: 'Index of WCAG scan results for '  + accumulator.baseurl + ' on ' + utils.timestampReadable(accumulator.reportPages[0].timestamp) }) %>

<body>
  <section class="usa-alert usa-alert--warning usa-alert--slim usa-alert--no-icon">
    <div class="usa-alert__body">
      <p class="usa-alert__text">
        Please remember that <b>automated testing tools are limited and can only detect <i>some</i> accessibility
          issues</b>.
      </p>
    </div>
  </section>
  <main class="grid-container">
    <div class="grid-row">
      <h1 class="font-heading-xl grid-col padding-right-2">WCAG scan results index for<br /><span
          class=" font-code-lg text-normal text-primary-darker bg-accent-cool-lighter padding-x-05">
        <%= accumulator.baseurl %></span><span
          class="font-body-md text-normal"> on <%=  utils.timestampReadable(accumulator.reportPages[0].timestamp) %></span>
      </h1>
      <span class="grid-col-auto inline-block margin-y-4">
        <a id="pages-logo" href="https://cloud.gov/pages" target="_blank"
          title="link to Pages homepage"><img src="https://cloud.gov/assets/images/pages/pages-logo-blue.svg"
            class="width-15" alt="Pages logo" /></a>
      </span>
    </div>
    <section
      class="usa-alert usa-alert--<%= accumulator.totalViolationsCount > 0 ? 'error' : 'success' -%> maxw-tablet">
      <div class="usa-alert__body">
        <p class="usa-alert__text">We’ve found <b><%= accumulator.totalViolationsCount %> accessibility
            <%= utils.plural(accumulator.totalViolationsCount, 'violation' ) %></b>
          across
          <%= accumulator.totalPageCount%> scanned
          <%= utils.plural(accumulator.totalPageCount, 'URL' ) %>.</p>
      </div>
    </section>

    <table
      class="usa-table usa-table--striped usa-table--borderless usa-table--stacked usa-table--compact font-body-xs width-full">
      <thead>
        <tr>
          <th scope="col">Scanned URL</th>
          <th scope="col" class="text-no-wrap"><span class="usa-sr-only">Open link</a></th>
          <th scope="col" class="text-no-wrap width-15 tablet:width-card-lg desktop:width-mobile">Violations</th>
        </tr>
      </thead>

      <tbody>
        <% for(const [index, page] of accumulator.reportPages.entries()) { -%>
        <tr>
          <th scope="row">
            <span class="mobile-lg:display-none">Scanned URL: <br/></span>
            <a class="usa-link font-mono-2xs break-anywhere" title="results for <%= page.path %>"
              href="./<%= page.path %>"><%= page.url -%></a></td>
          <td><a class="usa-link font-body-3xs text-no-wrap" target="_blank" href="<%= page.url %>"
              title="open scanned URL in a new window">open page&nbsp;<svg class="usa-icon"
                xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                <path fill="currentColor"
                  d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z" />
              </svg></a>

          </td>
          <td class="font-body-xs">
            <span class="mobile-lg:display-none">Violations: <br/></span>
            <% if (page.violationsCount > 0) {%>
            <% for (const group in page.groupedViolationsCounts) { %>
            <% if (page.groupedViolationsCounts[group] > 0) { %>
            <span class="usa-tag radius-pill bg-<%= utils.getMatchingSeverity(group).color %>">
                    <%= page.groupedViolationsCounts[group] %>&nbsp;<%= group %>
                  </span>
            <% } %>
            <% } %>
            <% } else { %>
            None
            <% } %>
          </td>
        </tr>
        <% } %>
        </tbody>
    </table>


    <%- include('includes/about', utils.rulesets ); %>

  </main>
</body>

</html>